<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- This will be the header seen in every website page visited -->
  <!-- This will also include all required scripts for this website to run,-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/uikit.min.css" />
  <title>Basic Web App Practice Winter Project</title>
  <script defer src="notif.js"></script>
  <!-- Load the notif script after body has been loaded -->
